# DataScience Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objective:__
-  List popular languages for Data Science
-  List tools for Data Science
-  Show how to use markdown to display text in different ways
-  Show how to do basic operations

Some of the populat languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. Plotly

| Data Science Tools | 
|:--------:|
| Jupyter |
| RStudio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
2000/60

33.333333333333336

## Author
Ajnkr